.checkbox{
    display:flex;
    gap:10px;
    margin-bottom: 10px;
}
.checkbox input[type=checkbox] {
    outline: 2px solid black;
    width: 20px;
    height: 20px;
    appearance: none;
    /* background:blue; */
    
    } 
.checkbox label {
    font-weight:bold;
    position: relative;
    top: -4px;
}

.checkbox label:hover{
    color:orange;
    cursor:pointer;
}

